<br>
<div class="col-md-12">
<app-buscador></app-buscador>
</div> 


<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let producto of listado">
        <div class="card mb-4 shadow-sm">
          <img src=" {{ producto.rutaDeFoto }}" alt="" srcset="" />
          <div class="card-body">
            <table class="table-responsive table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>descripcion</th>
                  <th>tipo</th>
                  <th>Vence</th>
                  <th>precio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ producto.idProducto }}</td>
                  <td>{{ producto.descripcion }}</td>
                  <td>{{ producto.tipo }}</td>
                  <td>{{ producto.fechaDeVencimiento }}</td>
                  <td>{{ producto.precio }}</td>
                </tr>
              </tbody>
            </table>

            <hr>

            <div class="d-flex justify-content-between align-items-center">

              <div class="btn-group">
                <app-boton-borrar (cargalista)="cargarLista()" [productoBorrar]="producto"></app-boton-borrar>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

