<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Daniel de Brito: Labo4</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/peliculas">Listado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/busqueda">Busqueda</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/peliculas/alta">Pelicula Alta</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/actor/alta">Actor Alta</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" routerLink="/actor/listado">Actor Listado</a>
            </li>
    </ul>

  </div>
</nav>